@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
button{
    background-color: aquamarine;
    padding: 0.5rem;
}
h1{
    font-size: 3.5rem;
}